.mainsearch {
    background-image: url(../../img/intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    // min-height: 712px;

    @media (max-width: $screen-sm-max) {
        min-height: 520px;
    }

    &__inner {
        padding-bottom: 225px;
        padding-top: 189px;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        width: 1086px;

        @media (max-width: $screen-lg-min) {
            padding-bottom: 100px;
        }

        @media (max-width: $screen-sm-max) {
            padding-top: 120px;
        }
    }

    &__title {
        letter-spacing: 0.01em;
        color: $fontWhite;
        font-weight: bold;
        line-height: 48px;
        font-size: 31px;

        @media (max-width: $screen-sm-max) {
            line-height: 30px;
            font-size: 24px;
        }
    }

    &__info {
        letter-spacing: 0.0001em;
        line-height: 16px;
        color: $fontWhite;
        font-weight: 500;
        font-size: 16px;

        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            margin-top: 10px;
            line-height: 23px;
        }
    }

    &__input {
        background-color: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 0px;
        line-height: 24px;
        margin-top: 27px;
        color: $fontGrey;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        height: 72px;

        @media (max-width: $screen-sm-max) {
            height: 56px;
        }

        & .icon {
            margin: auto 16px;
            color: $fontBlue;
            font-size: 34px;
            display: block;

            @media (max-width: $screen-sm-max) {
                margin: auto 8px;
                font-size: 28px;
            }
        }

        & input {
            background-color: transparent;
            letter-spacing: 0.03em;
            display: block;
            height: 100%;
            width: 100%;

            @media (max-width: $screen-sm-max) {
                font-weight: 500;
                font-size: 15px;
            }

            &:focus {
                outline: none;

                &::placeholder {
                    color: transparent;
                }
            }
        }

        & img {
            padding: 0px 16px;
        }
    }

    &__extendedSearch {
        color: $fontWhite;
        margin-top: 30px;

        @media (max-width: $screen-lg-max) {
            justify-content: space-between;
            display: flex;
        }

        &-calendar {
            margin-top: 10px;

            @media (max-width: $screen-lg-max) {
                order: 2;
            }

            @media (min-width: $screen-xl-min) {
                padding-right: 54px;
            }

            &-wrapper {
                position: relative;
            }

            .checkmark {
                right: 10px;
            }

            .icon {
                left: 31px;
            }

            .react-datepicker-wrapper {
                width: 100%;

                input {
                    padding: 24px 53px 24px 57px;
                    outline: none !important;
                    border-radius: 8px;
                    line-height: 24px;
                    color: $fontDark;
                    font-weight: 500;
                    font-size: 16px;
                    width: 100%;

                    &:focus {
                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
            }

            .react-datepicker__current-month,
            .react-datepicker__day-name {
                color: $fontBlue;
            }

            .react-datepicker__quarter-text--in-selecting-range,
            .react-datepicker__quarter-text--keyboard-selected,
            .react-datepicker__month-text--in-selecting-range,
            .react-datepicker__month-text--keyboard-selected,
            .react-datepicker__year-text--in-selecting-range,
            .react-datepicker__year-text--keyboard-selected,
            .react-datepicker__day--in-selecting-range,
            .react-datepicker__quarter-text--in-range,
            .react-datepicker__quarter-text--selected,
            .react-datepicker__day--keyboard-selected,
            .react-datepicker__month-text--in-range,
            .react-datepicker__month-text--selected,
            .react-datepicker__year-text--selected,
            .react-datepicker__year-text--in-range,
            .react-datepicker__day--in-range,
            .react-datepicker__day--selected {
                background-color: $java;
            }

            .react-datepicker__navigation {
                outline: none !important;
            }

            &-checkbox {
                margin-left: 14px;
                margin-bottom: 0;
                margin-top: 7px;
                display: block;

                .checkbox__text {
                    line-height: 24px;
                    font-size: 14px;
                    color: $white;
                }
            }
        }

        &-duration {
            margin-right: -36px;
            margin-left: -36px;
            max-width: none;
            flex-grow: 1;

            @media (max-width: $screen-lg-max) {
                padding-right: 19px;
                margin-bottom: 10px;
                margin-right: 2px;
                margin-left: 2px;
                order: 1;
            }

            &-title {
                margin-bottom: 6px;
                line-height: 24px;
                font-weight: 500;
                font-size: 16px;
            }

            &-slider {
                padding-right: 15px;
                padding-left: 15px;
                width: 100%;
            }

            .rc-slider {
                margin-bottom: 13px;
                margin-top: 15px;
                padding-left: 15px ;
                padding-right: 15px ;
            }

            &-text {
                justify-content: space-between;
                display: flex;

                span {
                    font-size: 14px;
                }
            }
        }

        &-passengers {
            padding-left: 53px;
            margin-top: 10px;

            @media (max-width: $screen-lg-max) {
                padding-left: 16px;
                order: 3;
            }

            &-container {
                position: relative;
            }

            &-input {
                background-color: $white;
                padding: 24px 53px 24px 57px;
                outline: none !important;
                position: relative;
                border-radius: 8px;
                color: $fontDark;
                font-weight: 500;
                min-height: 72px;
                font-size: 16px;
                cursor: pointer;

                &.active {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .text {
                &-invisible {
                    display: none;
                }

                &-visible {
                    color: $fontGrey;

                    @media (min-width: $screen-lg-min) {
                        font-size: 15px;
                    }
                }
            }


            .passengers__quantity {
                &-wrapper {
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    background-color: $white;
                    padding-bottom: 16px;
                    padding-right: 16px;
                    position: absolute;
                    padding-left: 16px;
                    line-height: 24px;
                    color: $fontDark;
                    font-weight: 500;
                    font-size: 16px;
                    padding-top: 0;
                    top: 100%;
                    right: 0;
                    left: 0;
                }

                &-title {
                    flex-grow: 1;
                }

                &-item {
                    display: flex;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    .quantity {
                        border: 1px solid #F6F6F6;
                        border-radius: 8px;
                        text-align: center;
                        padding: auto;
                        height: 33px;
                        width: 56px;

                        input[type=number] {
                            text-align: center;
                            // -webkit-appearance: none;
                            outline: none !important;
                            vertical-align: middle;
                            margin: auto;
                            width: 100%;

                            &:focus {
                                outline: none;
                
                                &::placeholder {
                                    color: transparent;
                                }
                            }

                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }

                    .btn-increase,
                    .btn-decrease {
                        background-color: $white;
                        border: 2px solid $java;
                        outline: none !important;
                        margin-left: 8px;
                        border-radius: 100%;
                        position: relative;
                        height: 32px;
                        width: 32px;
                    }

                    .btn-increase {
                        &:hover {
                            background-color: $java05;
                        }
                    }

                    .btn-decrease {
                        &:hover {
                            background-color: $java05;
                        }
                    }


                    .minus,
                    .plus {
                        background-color: $java;
                        position: absolute;
                        bottom: 13px;
                        width: 16px;
                        height: 2px;
                        left: 6px;
                    }
    
                    .plus {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .icon-extendedSearch {
            position: absolute;
            color: $java;
            font-size: 24px;
            z-index: 2;
            top: 24px;
        }

        &-passengers {
            .checkmark {
                right: 10px;
            }

            .icon {
                left: 15px;
            }
        }

        .checkmark {
            display:inline-block;
            position: absolute;
            height: 24px;
            width: 24px;
            z-index: 2;
            top: 26px;

            &_item {
                border-bottom: 2px solid $java;
                border-left: 2px solid $java;
                transform: rotate(-45deg);
                height: 12px;
                width: 14px;
            }
        }
    }

    &__buttons {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    &__extendedsearchBtn {
        border-bottom: 1px dashed #FFFFFF;
        background-color: transparent;
        outline: none !important;
        margin-bottom: 32px;
        line-height: 16px;
        color: $fontWhite;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;

        &.inactive {
            margin-top: 20px;
        }

        &:hover {
            border-bottom-style: solid;
        }

        @media (max-width: $screen-md-max) {
            margin-bottom: 24px;
            margin-top: 15px;
            font-size: 14px;
        }
    }

    &__callbackbtn {
        background-color: transparent;

        & button {
            box-shadow: 0px 0px 45px 0px $white;
            transition: background-color $transition;
            background-color: $java;
            border-radius: 50%;
            color: $fontWhite;
            position: fixed;
            cursor: pointer;
            outline: none;
            height: 80px;
            bottom: 64px;
            width: 80px;
            right: 64px;
            z-index: 10;

            &:hover {
                background-color: scale-color($java, $lightness: -10%);
            }

            @media (max-width: $screen-sm-max) {
                height: 48px;
                bottom: 24px;
                width: 48px;
                right: 24px;
            }
        }

        & .icon {
            cursor: pointer;
            font-size: 38px;
            display: block;
            margin: auto;

            @media (max-width: $screen-sm-max) {
                font-size: 22px;
            }
        }
    }
}
