.mainsearch {
    background-image: url(../../img/intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 712px;

    @media (max-width: $screen-sm-max) {
        min-height: 520px;
    }

    &__inner {
        padding-bottom: 15px;
        padding-top: 189px;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        width: 1086px;

        @media (max-width: $screen-sm-max) {
            padding-top: 120px;
        }
    }

    &__title {
        letter-spacing: 0.01em;
        color: $fontWhite;
        font-weight: bold;
        line-height: 48px;
        font-size: 31px;

        @media (max-width: $screen-sm-max) {
            line-height: 30px;
            font-size: 24px;
        }
    }

    &__info {
        letter-spacing: 0.0001em;
        line-height: 16px;
        color: $fontWhite;
        font-weight: 500;
        font-size: 16px;

        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            margin-top: 10px;
            line-height: 23px;
        }
    }

    &__input {
        background-color: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 0px;
        line-height: 24px;
        margin-top: 27px;
        color: $fontGrey;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        height: 72px;

        @media (max-width: $screen-sm-max) {
            height: 56px;
        }

        & .icon {
            margin: auto 16px;
            color: $fontBlue;
            font-size: 34px;
            display: block;

            @media (max-width: $screen-sm-max) {
                margin: auto 8px;
                font-size: 28px;
            }
        }

        & input {
            background-color: transparent;
            letter-spacing: 0.03em;
            display: block;
            height: 100%;
            width: 100%;

            @media (max-width: $screen-sm-max) {
                font-weight: 500;
                font-size: 15px;
            }

            &:focus {
                outline: none;

                &::placeholder {
                    color: transparent;
                }
            }
        }

        & img {
            padding: 0px 16px;
        }
    }

    &__buttons {
        flex-direction: column;
        align-items: center;
        padding-top: 14px;
        display: flex;
    }

    &__extendedsearchBtn {
        border-bottom: 1px dashed #FFFFFF;
        margin-bottom: 32px;
        background-color: transparent;
        line-height: 24px;
        color: $fontWhite;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            border-bottom-style: solid;
            outline: none;
        }

        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            margin-bottom: 24px;
        }
    }

    &__callbackbtn {
        background-color: transparent;

        & button {
            box-shadow: 0px 8px 24px rgba(34, 195, 202, 0.32);
            background-color: #22C3CA;
            border-radius: 50%;
            z-index: 10;
            position: fixed;
            cursor: pointer;
            outline: none;
            height: 80px;
            bottom: 64px;
            width: 80px;
            right: 64px;

            @media (max-width: $screen-sm-max) {
                height: 48px;
                bottom: 24px;
                width: 48px;
                right: 24px;
            }

            // &:hover {
            //     translate: rotate ; // find smth interesting
            // }
        }

        & .icon {
            cursor: pointer;
            font-size: 38px;
            display: block;
            margin: auto;

            @media (max-width: $screen-sm-max) {
                font-size: 22px;
            }
        }
    }
}
