.subscription {
    background-color: #22C3CA;

    &__email-mode {
        .subscription__sms-col {
            @media (max-width: $screen-md-max) {
                display: none;
            }
        }
    }

    &__sms-mode {
        .subscription__email-col {
            @media (max-width: $screen-md-max) {
                display: none;
            }
        }
    }

    &__inner {
        padding-bottom: 50px;
        padding-top: 10px;

        @media (max-width: $screen-md-max) {
            padding-bottom: 100px;
            position: relative;
            padding-top: 2px;
        }
    }

    .row {
        justify-content: space-between;
        margin-bottom: 4px;
        display: flex;

        @media (max-width: $screen-md-max) {
            position: static;
        }
    }

    .col {
        @media (max-width: $screen-md-max) {
            position: static;
        }
    }

    &__title {
        padding-bottom: 22px;
        font-weight: bold;
        line-height: 48px;
        padding-top: 29px;
        color: $fontWhite;
        font-size: 32px;

        @media (max-width: $screen-md-max) {
            padding-bottom: 16px;
            line-height: 32px;
            font-size: 24px;
        }

        padding-bottom: 16px;

        @media (max-width: $screen-sm-max) {
            line-height: 32px;
            font-size: 24px;
        }
    }

    form {
        position: relative;

        @media (max-width: $screen-md-max) {
            position: static;
        }
    }

    label {
        color: $fontWhite;
        line-height: 32px;
        font-weight: 500;
        font-size: 24px;
        width: 100%;

        @media (max-width: $screen-sm-max) {
            font-size: 20px;
            line-height: 18px;
        }
    }

    &__navigation {
        justify-content: space-between;
        display: flex;

        &-option-email,
        &-option-sms {
            border-bottom: dotted 2px transparent;
            padding-bottom: 3px;
            color: $fontWhite;
            line-height: 32px;
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                border-bottom-color: $fontWhite;
            }
        }

        &-option-email {
            &.email-mode {
                border-bottom-color: $fontWhite;
                .sms-mode {
                    border-bottom-color: transparent;
                }
            }
        }

        &-option-sms {
            &.sms-mode {
                border-bottom-color: $fontWhite;
                .email-mode {
                    border-bottom-color: transparent;
                }
            }
        }
    }

    &__input {
        width: 100%;

        &-wrapper {
            background-color: #FFFFFF;
            border-radius: 8px;
            margin-top: 16px;
            cursor: pointer;
            display: flex;
            height: 72px;
            width: 100%;

            @media (max-width: $screen-sm-max) {
                margin-top: 13px;
                height: 56px;
            }

            input {
                width: 100%;
            }
        }

        .icon {
            margin: auto 11px auto 26px;
            color: $fontDark;

            @media (max-width: $screen-md-max) {
                margin-left: 17px;
                font-size: 30px;
            }

        }

        input {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            line-height: 24px;
            color: $fontDark;
            font-weight: 500;
            font-size: 16px;
            flex-grow: 1;

            &:focus {
                outline: none;
            }
        }
    }

    &__submit{
        &-lg {
            background-color: transparent;
            text-transform: uppercase;
            outline:none !important;
            letter-spacing: 0.8px;
            position: absolute;
            line-height: 16px;
            font-weight: 500;
            color: $fontBlue;
            font-size: 12px;
            cursor: pointer;
            flex-shrink: 0;
            bottom: 37px;
            right: 34px;

            @media (max-width: $screen-md-max) {
                color: $fontWhite;
                display: block;
            }
        }

        &.button_white {
            padding-right: 47px;
            position: absolute;
            padding-left: 47px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 22px;
            bottom: 40px;
            right: 0;
            left: 0;

            @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
                padding-bottom: 12px;
                padding-top: 12px;
                bottom: 20px;
            }
        }
    }

    &__info {
        letter-spacing: 0.01em;
        color: $fontWhite;
        line-height: 24px;
        font-size: 14px;

        @media (max-width: $screen-lg-max) {
            line-height: 20px;
            margin-top: 7px;
            font-size: 12px;
            display: block;
        }
    }
}
