.header {
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    @media (max-width: $screen-sm-max) {
        padding-right: 0px;
        padding-left: 0px;
    }

    .container {
        max-width: 1374px;
    }

    &__inner {
        border-bottom-right-radius: 8px;
        justify-content: space-between;
        border-bottom-left-radius: 8px;
        background-color: #fff;
        flex-wrap: nowrap;
        display: flex;
        height: 95px;

        @media (max-width: $screen-sm-max) {
            height: 72px;
        }
    }

    &__rectangle {
        border-bottom-left-radius: 8px;
        justify-content: center;
        background-color: #22C3CA;
        align-items: center;
        color: $fontWhite;
        font-weight: 500;
        font-size: 24px;
        flex-shrink: 0;
        display: flex;
        width: 208px;
        height: 100%;

        @media (max-width: $screen-sm-max) {
            font-size: 20px;
            width: 90px;
        }
    }

    &__navbar {
        margin-left: 32px;
        flex-grow: 1;

        & ul {
            align-self: flex-start;
            margin-bottom: 0;
            display: flex;
        }

        .top { 
            padding-top: 10px;

            & li {
                &:not(:last-child) {
                    margin-right: 36px;
                }

                & a {
                    letter-spacing: 0.02em;
                    color: $fontGreyNav;
                    line-height: 16px;
                    font-weight: 400;
                    font-size: 12px;

                    &::before {
                        color: $fontGreyNav;
                    }
                }
            }
        }

        .bottom {
            margin-top: 8px;

            & li {
                &:not(:last-child) {
                    margin-right: 39px;
                }

                & a {
                    text-transform: uppercase;
                    letter-spacing: 0.09em;
                    line-height: 16px;
                    font-weight: 500;
                    color: $fontBlue;
                    font-size: 12px;

                    &::before {
                        color: $fontBlue;
                    }
                }
            }
        }

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }

    &__callback {
        border-left: 1px  #F7F5F5 solid;
        border-right: 1px  #F7F5F5 solid;
        margin-bottom: 15px;
        align-items: center;
        margin-top: 12px;
        display: flex;
        width: 226px;

        &-icon {
            margin-bottom: 2px;
            margin-left: 14px;
            color: $fontBlue;
            font-size: 32px;

            .icon {
                display: block;
            }
        }

        &-wrapper {
            letter-spacing: 0.02em;
            line-height: 16px;
            margin-left: 8px;
            color: $fontBlue;
            font-size: 12px;

            & button {
                background-color: transparent;
                letter-spacing: 0.02em;
                outline: none;
                line-height: 16px;
                color: $fontBlue;
                cursor: pointer;
                font-size: 12px;

                &:hover {
                    text-decoration: underline 1px solid $fontBlue;
                }
            }

            & a {
                letter-spacing: -0.02em;
                color: $fontBlack;
                font-weight: bold;
                line-height: 16px;
                cursor: pointer;
                font-size: 15px;
            }

        }

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }

    .button {
        margin: 15px;

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}



// --------------------------
// .header {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//      padding-left: 10px;
//      padding-right: 10px;

//     background-color: rgba(161, 250, 166, 0.5);

//     &__inner {
//         background-color: rgba(248, 126, 126, 0.5);

//         height: 150px;
//     }

//     .container {
//         max-width: 1200px;
//     }

//     & + &_next-block {
//         margin-top: 150px;
//     }
// }