.header {
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    @media (max-width: $screen-sm-max) {
        padding-right: 0px;
        margin-right: -8px;
        padding-left: 0px;
        margin-left: -8px;
    }

    .container {
        max-width: 1374px;
    }

    &__inner {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: #fff;
        flex-wrap: nowrap;
        display: flex;
        height: 95px;

        @media (max-width: $screen-sm-max) {
            justify-content: normal;
            height: 72px;
        }
    }

    &__rectangle {
        border-bottom-left-radius: 8px;
        background-color: #22C3CA;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        display: flex;
        width: 208px;
        height: 100%;

        a {
            color: $fontWhite;
            font-weight: 500;
            font-size: 24px;

            &:hover {
                text-shadow: 0px 0px 2px $white;
                text-decoration: none;
            }

            @media (max-width: $screen-sm-max) {
                font-size: 18px;
            }
        }

        @media (max-width: $screen-sm-max) {
            max-width: 90px;
        }
    }

    &__info-wrapper {
        justify-content: space-between;
        margin-left: 31px;
        display: flex;
        width: 100%;

        @media (max-width: $screen-md-max) {
            justify-content: flex-end;
        }

    }

    &__navbar {
        position: relative;
        flex-grow: 1;

        @media (max-width: $screen-md-max) {
            min-width: 26px;
            flex-grow: 0;
            order:2;
        }

        &-mobile-menu {
            background-color: $white;
            outline: none !important;
            position: relative;
            margin-right: 18px;
            margin-top: 23px;
            height: 32px;
            width: 32px;

            @media (min-width: $screen-lg-min) {
                display: none;
            }

            span {
                transition: background-color $transition;
                background-color: $java;
                display: inline-block;
                position: absolute;
                height: 2px;
                width: 24px;
                bottom: 0;
                top: 15px;
                right: 0;
                left: 0;

                &::before,
                &::after {
                    background-color: $java;
                    position: absolute;
                    transition: transform $transition05s;
                    content: '';
                    width: 24px;
                    height: 2px;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }

                &::before {
                    top: -11px;
                }

                &::after {
                    top: 11px;
                }
            }

            &.active {
                span {
                    background-color: transparent;

                    &::before {
                        transform: rotate(45deg);
                        top: 0;
                    }
                    &::after {
                        transform: rotate(135deg);
                        top: 0;
                    }
                }

            }
        }

        &-wrapper {
            flex-direction: column;
            display: flex;
            flex-grow: 1;

            &.hidden {
                display: none;
            }

            @media (max-width: $screen-md-max) {
                background-color: $white;
                flex-direction: column;
                position: absolute;
                box-shadow: $java;
                min-width: 250px;
                padding: 5px;
                z-index: 2;
                top: 62px;
                right: 0;
            }
        }

        & ul {
            align-self: flex-start;
            margin-bottom: 0;
            display: flex;

            @media (max-width: $screen-md-max) {
                flex-direction: column;
                text-align: right;
                width: 100%;
            }
        }

        .top {
            padding-top: 10px;

            @media (max-width: $screen-md-max) {
                width: 100%;
                order: 2;
            }

            & li {

                &:not(:last-child) {
                    margin-right: 36px;

                    @media (max-width: $screen-md-max) {
                        margin-right: 0;
                        width: 100%;
                    }
                }

                & a {
                    letter-spacing: 0.02em;
                    color: $fontGreyNav;
                    line-height: 16px;
                    font-weight: 400;
                    font-size: 12px;
                    cursor: pointer;
                    
                    @media (max-width: $screen-md-max) {
                        transition: background-color $transition;
                        padding: 15px 20px;
                        font-size: 18px;
                        display: block;
                        width: 100%;

                        &:hover {
                            background-color: $alabaster;
                            text-decoration: none;
                        }
                    }

                    &::before {
                        color: $fontGreyNav;
                    }
                }
            }
        }

        .bottom {
            margin-top: 8px;

            @media (max-width: $screen-md-max) {
                width: 100%;
                order: 1;
            }

            & li {

                &:not(:last-child) {
                    margin-right: 39px;

                    @media (max-width: $screen-md-max) {
                        margin-right: 0;
                        width: 100%;
                    }
                }

                & a {
                    text-transform: uppercase;
                    letter-spacing: 0.09em;
                    line-height: 16px;
                    font-weight: 500;
                    color: $fontBlue;
                    font-size: 12px;
                    cursor: pointer;
                    
                    &::before {
                        color: $fontBlue;
                    }
                    
                    @media (max-width: $screen-md-max) {
                        transition: background-color $transition;
                        padding: 15px 20px;
                        font-size: 18px;
                        display: block;
                        width: 100%;

                        &:hover {
                            background-color: $alabaster;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    &__callback {
        border-right: 1px  #F7F5F5 solid;
        border-left: 1px  #F7F5F5 solid;
        margin-bottom: 15px;
        align-items: center;
        margin-top: 12px;
        display: flex;
        width: 226px;

        @media (max-width: $screen-xl-min) {
            display: none;
        }

        &-icon {
            margin-bottom: 2px;
            margin-left: 14px;
            color: $fontBlue;
            font-size: 32px;

            .icon {
                display: block;
            }
        }

        &-wrapper {
            letter-spacing: 0.02em;
            line-height: 16px;
            margin-left: 8px;
            color: $fontBlue;
            font-size: 12px;

            &-phone {
                letter-spacing: -0.02em;
                color: $fontBlack;
                font-weight: bold;
                line-height: 16px;
                cursor: pointer;
                font-size: 15px;
            }

            &-text {
                & a {
                    letter-spacing: 0.02em;
                    text-decoration: none;
                    line-height: 16px;
                    color: $fontBlue;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
        }

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }

    &__searchBtn {
        padding-right: 14px;
        padding-left: 14px;
        padding-top: 15px;

        @media (max-width: $screen-md-max) {
            order: 1;
        }

        .header-search {
            display: block;

            @media (max-width: $screen-xl-min) {
                background-color: transparent;
                padding: 0;
                border: none;
            }

            span {
                @media (max-width: $screen-xl-min) {
                    display: none;
                }
            }

            .icon-find {
                margin-right: 10px;
                margin-top: 10px;
                font-size: 27px;
                color: $java;

                &:hover {
                    color: scale-color($fontBlue, $lightness: -10%);
                }
    
                @media (min-width: $screen-xl-min) {
                    display: none;
                }
            }
        }
    }
}



// --------------------------
// .header {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//      padding-left: 10px;
//      padding-right: 10px;

//     background-color: rgba(161, 250, 166, 0.5);

//     &__inner {
//         background-color: rgba(248, 126, 126, 0.5);

//         height: 150px;
//     }

//     .container {
//         max-width: 1200px;
//     }

//     & + &_next-block {
//         margin-top: 150px;
//     }
// }