.toursSales {
    margin-top: 78px;

    @media (max-width: $screen-sm-max) {
        margin-top: 71px;
    }

    &__inner {
        h3 {
            letter-spacing: 0.006em;
            font-weight: bold;
            line-height: 48px;
            color: $fontDark;
            font-size: 32px;

            @media (max-width: $screen-sm-max) {
                line-height: 32px;
                font-size: 23px;
            }
        }
    }

    &__filter {
        margin-bottom: 5px;
        padding-top: 18px;
        flex-wrap: wrap;
        display: flex;

        @media (max-width: $screen-lg-max) {
            overflow-y: hidden;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        &-item {
            margin-bottom: 10px;
            white-space: nowrap;
            margin-right: 14px;
        }
    }

    &__slider {

        &-row {
            display:block;
        }

        &-item {
            width: 100%;
        }

        &-counter {
            justify-content: center;
            display: flex;

            span {
                line-height: 16px;
                margin-top: 11px;
                color: $fontBlue;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    &__tourCard {
        border: 1px solid #F6F6F6;
        background-color: #FFFFFF;
        margin-bottom: 14px;
        position: relative;
        border-radius: 8px;
        margin-top: 16px;
        

        &:hover {
            box-shadow: 0px 8px 24px rgba(34, 195, 202, 0.24);
        }

        @media (max-width: $screen-sm-max) {
            margin-top: 7px;
        }

        &-data-wrapper {
            padding-bottom: 15px;
            padding-right: 15px;
            padding-left: 15px;

            @media (max-width: $screen-sm-min) {
                padding-right: 16px;
                padding-bottom: 5px;
                padding-left: 16px;
            }
        }

        &-sale {
            background-color: #22C3CA;
            text-align: center;
            border-radius: 4px;
            position: absolute;
            color: $fontWhite;
            line-height: 11px;
            padding-top: 6px;
            font-size: 10px;
            display: block;
            height: 24px;
            right: 16px;
            width: 80px;
            z-index: 5;
            top: 16px;
        }

        &-image-wrapper {
            padding-bottom: 57.89473684210526%;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            display: block;

            @media (max-width: $screen-sm-max) {
                margin-bottom: 5px;
            }

            img {
                position: absolute;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }


        &-id {
            line-height: 16px;
            color: $fontGrey;
            font-size: 10px;

            @media (max-width: $screen-sm-max) {
                line-height: 10px;
            }
        }

        &-title {
            line-height: 20px;
            color: $fontDark;
            font-weight: 500;
            font-size: 16px;

            @media (max-width: $screen-sm-max) {
                line-height: 24px;
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
                color: $fontBlue;
            }
        }

        &-subtitle {
            margin-bottom: 14px;
            line-height: 14px;
            color: $fontDark;
            font-size: 14px;

            @media (max-width: $screen-sm-max) {
                margin-bottom: 12px;
                line-height: 12px;
                font-size: 12px;
            }
        }

        [class*='col-'],
        [class~=col] {
            padding-right: 8px;
            padding-left: 8px;
        }

        &-custom-col {
            margin-bottom: 9px;
            margin-top: 7px;

            @media (max-width: $screen-sm-max) {
                margin-bottom: 7px;
            }
        }

        .row {
            margin-right: -8px;
            margin-left: -8px;
        ;
        }

        &-info {
            margin-bottom: 8px;

            @media (max-width: $screen-sm-max) {
                margin-bottom: 6px;
            }

            .icon, img {
                display: inline-block;
                margin-right: 8px;
            }

            .icon {
                color: $fontDark;
            }

            span {
                letter-spacing: 0.02em;
                vertical-align: middle;
                line-height: 16px;
                color: $fontDark;
                font-size: 12px;

                @media (max-width: $screen-sm-max) {
                    vertical-align: baseline;
                }

                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    line-height: 16px;
                    font-size: 11px;
                }


                &.toursSales__tourCard-info-subtitle {
                    line-height: 10px;
                    font-size: 10px;
                    margin-top: 2px;
                    display: block;
                }
            }

            .rating-view .icon {
                margin-right: 4px;
            }

            .price {
                margin-bottom: 10px;
                line-height: 16px;
                color: $fontDark;
                font-size: 14px;

                @media (max-width: $screen-sm-max) {
                    margin-bottom: 6px;
                    font-size: 12px;
                }

                &__primary {
                    vertical-align: baseline;
                    letter-spacing: 0.02em;
                    padding-right: 4px;
                    line-height: 24px;
                    font-weight: 500;
                    font-size: 24px;
                }

                &__secondary,
                &__secondary-currency {
                    line-height: 16px;
                    color: $fontGrey;
                    font-weight: 500;
                    margin-top: 8px;
                    font-size: 16px;

                    @media (max-width: $screen-sm-max) {
                        line-height: 14px;
                        font-size: 14px;
                        margin-top: 6px;
                    }
                }

                &__secondary {
                    display: block;
                }

                &__primary-currency {
                    vertical-align: baseline;
                }

                &__secondary-currency {
                    vertical-align: top;
                }
            }
        }
    }
    &__button-wrapper {
        display: flex;
        justify-content: center;

        @media (max-width: $screen-md-max) {
            display: none;
        }
    }

    .button_blue {
        margin-top: 48px;
    }
}

.compare-checkbox {

    &__label {
        position: relative;
        padding-left: 25px;
        color: $java;

        input {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            width: 0;

            &:checked {
                & ~ .compare-checkbox__icon {
                    &:before {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__icon {
        border: 1px solid currentColor;
        border-radius: 50%;
        position: absolute;
        display: block;
        height: 16px;
        width: 16px;
        left: 0;
        top: 6px;

        &::before {
            transition: opacity $transition, transform $transition;
            background-color: currentColor;
            transform: scale(0);
            border-radius: 50%;
            position: absolute;
            display: block;
            margin: auto;
            height: 10px;
            width: 10px;
            content: '';
            opacity: 0;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
    }

    &__text {
        border-bottom: 1px dashed #22C3CA;
        padding-bottom: (1em/12);
        line-height: 16px;
        color: $fontBlue;
        font-size: 12px;
    }
}
