.footer {
    background: #FFFFFF;
    margin-top: 80px;

    @media (max-width: $screen-sm-max) {
        margin-top: 50px;
    }

    .container {
        @media (max-width: $screen-sm-max) {
        padding-right: 22px;
        padding-left: 22px;
        }
    }

    &__inner {
        padding-bottom: 104px;
        margin-top: 96px;

        @media (max-width: $screen-md-max) {
            padding-bottom: 0px;
        }

        @media (max-width: $screen-xl-min) {
            margin-top: 0;
        }
    }

    &__info {
        margin-bottom: 19px;
        position: relative;
        padding-left: 24px;

        @media (max-width: $screen-sm-max) {
            margin-bottom: 16px;
        }

        &-wrapper {
            margin-top: 72px;

            .contacts {
                @media (min-width: $screen-md-min) and (max-width: $screen-xl-min) {
                    justify-content: space-between;
                    display: flex;
                }
            }
        }

        &-icon-wrapper {
            justify-content: center;
            align-items: center;
            position: absolute;
            display: flex;
            width: 20px;
            top: 2px;
            left: 0;
        }

        .icon {
            font-size: 18px;
            display: block;
        }

        a {
            line-height: 24px;
            color: $fontDark;
            font-weight: 500;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
                color: $fontBlue;
            }
            &:active {
                color: $fontBlue;
            }
        }
    }

    &__social-icons {
        margin-top: 44px;
        display: flex;

        @media (min-width: $screen-md-min) and (max-width: $screen-xl-min) {
            justify-content: center;
            margin-bottom: 30px;
            margin-top: 30px;
        }


        @media (max-width: $screen-sm-max) {
            margin-top: 40px;
            margin-left: 2px;
            margin-bottom: 39px;
        }

        .icon {
            margin-right: 40px;
            color: $fontBlue;
            font-size: 40px;
            cursor: pointer;

            &:hover {
                color: scale-color($fontBlue, $lightness: -10%);
            }

            @media (max-width: $screen-sm-max) {
                margin-right: 56px;
            }
        }
    }

    &__menu {
        &-title {
            border-bottom: 2px solid #F7F5F5;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            padding-bottom: 6px;
            margin-bottom: 8px;
            line-height: 16px;
            font-weight: 500;
            color: $fontBlue;
            font-size: 12px;

            @media (max-width: $screen-sm-max) {
                letter-spacing: 1.1px;
            }

            @media (max-width: $screen-xl-min) {
                margin-top: 16px;
            }
        }

        &-wrapper {
            flex-direction: column;
            display:flex;
            width: 192px;

            @media (max-width: $screen-sm-max) {
                margin-bottom: 40px;
            }

            li:not(:last-child) {
                margin-bottom: 9px;
            }

        }

        &-item {
            font-weight: normal;
            font-weight: normal;
            line-height: 24px;
            color: $fontDark;
            font-size: 14px;

            @media (max-width: $screen-sm-max) {
                letter-spacing: 0.4px;
            }

            &:hover {
                color: $fontDark;
            }
            &:visited {
                color: $fontDark;
            }
            &:active {
                color: $fontDark;
            }
        }
    }
}
