.footer {
    background: #FFFFFF;
    &__inner {
        padding-bottom: 104px;
        margin-bottom: 40px;
    }
    &__contacts {
        margin-top: 170px;
        &-mail {
            margin-bottom: 19px;
            &-img {
                width: 16px;
                height: 18px;
                margin-right: 10px;
            }
            &-link {
                letter-spacing: 0.002em;
                // vertical-align: baseline;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                text-decoration: underline;
                color: $fontBlue;
                &:hover {
                    color: $fontBlue;
                }
                &:visited {
                    color: $fontBlue;
                }
                &:active {
                    color: $fontBlue;
                }
            }
        }
        &-phone {
            margin-bottom: 20px;
            display: flex;
            &-img {
                margin-right: 10px;
                width: 12px;
                height: 18px;
            }
            &-wrapper {
                display: flex;
                flex-direction: column;
            }
            &-link {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: $fontDark;
                &:hover {
                    color: $fontDark;
                }
                &:visited {
                    color: $fontDark;
                }
                &:active {
                    color: $fontDark;
                }
            }
        }
        &-adress {
            margin-bottom: 20px;
            display: flex;

            &-img {
                margin-right: 10px;
                width: 16px;
                height: 19px;
            }
            &-wrapper {
                display: flex;
                flex-direction: column;
            }
            &-link {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: $fontDark;
                &:hover {
                    color: $fontDark;
                }
                &:visited {
                    color: $fontDark;
                }
                &:active {
                    color: $fontDark;
                }
            }
        }
        &-icons {
            display: flex;
            margin-top: 46px;
            img {
                cursor: pointer;
                margin-right: 40px;
            }
        }
    }
    &__lists-wrapper {
        display:flex;
        flex-direction: column;
        width: 192px;
        
        li:not(:last-child) {
            margin-bottom: 9px;
        }
    }
}

.title {
    margin-top: 96px;
    margin-bottom: 8px;
    padding-bottom: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $fontBlue;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-bottom: 2px solid #F7F5F5;;
}

.item {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: $fontDark;
    &:hover {
        color: $fontDark;
    }
    &:visited {
        color: $fontDark;
    }
    &:active {
        color: $fontDark;
    }
}
