html {
    font-family: $font;
}

body {
    background-color:$alabaster;
}

label {
    cursor: pointer;
}

.container {
    @media (max-width: $screen-sm-max) {
        max-width: 100%;
    }
}

.page-wrapper {
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.content__wrapper {
    flex-grow: 1;
    padding-top: 120px;
    margin-bottom: 40px;

    .mainsearch:first-child {
        margin-top: -120px;
    }

    .toursSales:not(:first-child),
    .special-proposition:not(:first-child),
    .reviews:not(:first-child),
    .subscription:not(:first-child) {
        margin-top: 80px;

        @media (max-width: $screen-sm-max) {
            margin-top: 50px;
        }
    }
}

.svg-defs {
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 0;
}

// not working/ still are notifications in console (unable to preventdefault inside passive event listener)
// .slick-slider,
// .slick-track,
// .slick-slider,
// .slick-list {
//     -ms-touch-action: none;
//     touch-action: none;
// }
